<h2 class="text-center">Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="d-flex flex-column align-items-center">
    <div class="d-flex flex-column align-items-center w-75 mb-3">

      <%= f.text_field :name, autofocus: true, class: "form-control w-75 mb-3", Placeholder: "Name" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control w-75 mb-3", Placeholder: "Email" %>




      <% if @minimum_password_length %>

      <% end %><br/>
      <%= f.password_field :password, autocomplete: "new-password", class: "form-control w-75 mb-4", Placeholder: "Password (6 characters minimum)" %>


      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control w-75 mb-4", Placeholder: "Password confirmation" %>

      <div class="actions">
        <%= f.submit "Sign up", class: "btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>

<%= render "devise/shared/links", class: "text-center" %>
