<%= form_with(model: recipe) do |form| %>
  <% if recipe.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
        <% recipe.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :public %>
    <%= form.check_box :public %>
  </div>

  <div>
    <%= form.label :description %><br>
    <%= form.text_field :description %>
  </div>

  <div>
    <div>
      <%= form.label :'preparation time' %><br>
      <%= form.text_field :preparation_time %>
    </div>
    <div>
      <%= form.label :'cooking time' %><br>
      <%= form.text_field :cooking_time %>
    </div>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
