<p style="color: green"><%= notice %></p>

<h1>Recipes</h1>

<div id="recipes">
  <% @recipes.each do |recipe| %>
    <%#= render recipe %>
    <div class="d-flex justify-content-between">
      <div>
        <div>
          <h5><%= recipe.name %></h5>
        </div>
        <div class="d-flex">
          <button type="button" class="btn btn-primary">
            <%= link_to 'Details', recipe_path(recipe), method: :get, class: "nav-link" %>
          </button>
          <% if can? :destroy, recipe %>
          <div>
  
            <%= button_to 'Remove', recipe_path(recipe), method: :delete, class: "btn btn-danger" %>
          </div>
          <%end%>
        </div>
      </div>
      <div>
        <p><%= recipe.description %></p>
      </div>
    </div>
  <% end %>
</div>

<%= link_to "New recipe", new_recipe_path %>
