<section class="shopping-list-section">
  <h1>Shopping List</h1>
  <div>
    <p>Amount of items to buy: <%= @recipes_foods.length %></p>
    <p>Recipe: <%= link_to @recipe, @recipe %></p>
  </div>
  <table>
    <thead>
      <tr>
        <th>Food</th>
        <th>Quantity</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <% if !@recipes_foods.empty? %>
        <% @recipes_foods.each do |food_data| %>
          <tr>
            <td><%= food_data.name %></td>
            <td><%= food_data.quantity %></td>
            <td>$<%= food_data.price * food_data.quantity %></td>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <td colspan="3">No items yet. Only foods not added to any recipes are shown here.</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>