<%= form_with model: @recipes_food, url: recipe_recipes_foods_path, method: :post do |form| %>
  <div>
    <%= form.label :quantity %><br>
    <%= form.number_field :quantity %>
  </div>

  <%= form.select :food, @foods&.map {|food| [food.name, food.id]} %>
  <div>
    <%= form.submit %>
  </div>
<% end %>
